.advantages {
    margin-top: 100px;
    &__cards {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    &__card {
        flex-basis: 25%;
    }
}
.advantage-card {
    padding: 50px;
    border: 1px solid $black;
    border-radius: 15px;
    transition: .3s;
    cursor: default;
    @include animationGradientBackground();
    &__icon {
        fill: transparent;
        stroke: transparent;
        transition: .3s;

        width: 60px;
        height: 60px;
        svg {
            width: 100%;
            height: 100%;
        }
        path {
            stroke: transparent;
            fill: black;
            transition: .3s;
        }
        rect {
            fill: transparent;
            stroke: black;
            transition: .3s;
        }
    }
    &:nth-child(2) {
        .advantage-card__icon {
            path {
                stroke: black;
                fill: transparent;
            }
        }
        &:hover {
            .advantage-card__icon {
                path {
                    stroke: url(#paint0_linear_222_724);
                    fill: transparent;
                }
            }
        }
    }
    &__title {
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;

        margin-top: 50px;
        margin-bottom: 0;

        flex: 0 0 70px;
    }
    &__text {
        display: block;
        margin-top: 30px;

        font-size: 20px;
        font-weight: 500;

        flex-grow: 1;
    }
    &__content {
        position: relative;
        z-index: 2;
        height: 100%;

        display: flex;
        flex-direction: column;
    }
    &:hover {
        color: white;
        border-color: transparent;
        .advantage-card__icon {
            rect {
                fill: white;
                stroke: transparent;
            }
            path {
                fill: url(#paint0_linear_222_724);
                stroke: transparent;
            }
        }
    }
}

@include media($desktop) {
    .advantages {
        &__cards {}
        &__card {
            
        }
    }
    .advantage-card {
        &__content {}
        &__icon {}
        &__title {
            font-size: 28px;
        }
        &__text {}
    }
}

@include media($laptop) {
    .advantages {
        &__cards {}
        &__card {
            
        }
    }
    .advantage-card {
        padding: 30px;
        &__content {}
        &__icon {}
        &__title {
            font-size: 28px;
        }
        &__text {
            font-size: 20px;
        }
    }
}

@include media($tablet) {
    .advantages {
        margin-top: 50px;
        &__cards {
            flex-wrap: wrap;
        }
        &__card {}
    }
    .advantage-card {
        flex: 1 1 40%;
        &__content {}
        &__icon {}
        &__title {
            font-size: 24px;

            flex: 0 0 30px;
        }
        &__text {
            font-size: 18px;
        }
    }
}

@include media($mobile) {
    .advantages {
        &__cards {}
        &__card {}
    }
    .advantage-card {
        flex: 1 1 100%;
        &__content {}
        &__icon {
            width: 50px;
            height: 50px;
        }
        &__title {
            font-size: 20px;
            margin-top: 40px;
        }
        &__text {
            font-size: 15px;
        }
    }
}