.equipment {
    margin-top: 100px;
    padding: 100px 0;
    
    background-color: $white;
    &__container {}
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {}
    &__number {
        color: #7A6AF4;
    }
    &__cards {
        display: flex;
        gap: 30px;

        margin-top: 100px;
    }
    &__card {}
}
.equipment-card {
    flex: 1 1 430px;
    height: fit-content;

    border-radius: 15px;
    overflow: hidden;

    background-color: $black;
    &__image-wrapper {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;

            background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
        }
    }
    &__image {
        width: 100%;
        height: 330px;
        object-fit: cover;
    }
    &__content {
        padding: 0 30px;
        transition: .6s;
    }
    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
    &__title {
        color: $white;
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__button {
        
    }
    &__text {
        color: $white;
        font-size: 20px;
        font-weight: 500;

        margin: 0;
        overflow: hidden;
        max-height: 0;

        transition: .6s;
    }
    &_active {
        .equipment-card {
            &__text {
                max-height: 400px;
            }
            &__content {
                padding: 0 30px 50px 30px;
            }
            &__button {
            }
        }
    }
}

@include media ($desktop) {
    .equipment {
        &__container {}
        &__header {}
        &__title {}
        &__number {}
        &__cards {
            gap: 10px;
        }
        &__card {}
    }
    .equipment-card {
        &__image-wrapper {}
        &__image {}
        &__content {
            padding: 0 10px;
        }
        &__title-wrapper {
            gap: 10px;
        }
        &__title {
            font-size: 24px;
        }
        &__button {}
        &__text {
            font-size: 16px;
        }
        &_active {
            .equipment-card {
                &__content {
                    padding: 0 10px 30px 10px;
                }
            }
        }
    }
}

@include media ($laptop) {
    .equipment {
        &__container {}
        &__header {}
        &__title {}
        &__number {}
        &__cards {}
        &__card {}
    }
    .equipment-card {
        &__image-wrapper {}
        &__image {}
        &__content {}
        &__title-wrapper {}
        &__title {}
        &__button {}
        &__text {}
    }
}

@include media ($tablet) {
    .equipment {
        &__container {}
        &__header {}
        &__title {}
        &__number {}
        &__cards {}
        &__card {}
    }
    .equipment-card {
        &__image-wrapper {}
        &__image {}
        &__content {}
        &__title-wrapper {}
        &__title {}
        &__button {}
        &__text {}
    }
}

@include media ($mobile) {
    .equipment {
        &__container {}
        &__header {}
        &__title {}
        &__number {}
        &__cards {}
        &__card {}
    }
    .equipment-card {
        &__image-wrapper {}
        &__image {}
        &__content {}
        &__title-wrapper {}
        &__title {}
        &__button {}
        &__text {}
    }
}