.franchisees-benefits {
    margin-top: 100px;
    &__container {}
    &__title {
        margin: 0;
        font-size: 64px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        margin-top: 100px;
    }
}

@include media ($desktop) {
    .franchisees-benefits {
		&__container {}
		&__title {}
		&__grid {}
    }
}

@include media ($laptop) {
    .franchisees-benefits {
		&__container {}
		&__title {
            font-size: 48px;
        }
		&__grid {
            gap: 20px;
        }
    }
}

@include media ($tablet) {
    .franchisees-benefits {
        margin-top: 50px;
		&__container {}
		&__title {
            font-size: 42px;
        }
		&__grid {
            margin-top: 50px;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@include media ($mobile) {
    .franchisees-benefits {
		&__container {}
		&__title {
            font-size: 36px;
        }
		&__grid {
            grid-template-columns: 1fr;
            margin-top: 20px;
        }
    }
}