/*.franchisees {
    &__hero {
        background: url('../images/franchisees-hero.png') no-repeat 50% 50% !important;
        background-size: cover !important;
        box-shadow: inset 800px 0 200px rgba(0, 0, 0, 0.7);
    }
}

@include media($desktop) {
    .franchisees {
		&__info {}
		&__content {}
    }
}

@include media($laptop) {
    .franchisees {
		&__info {}
		&__content {}
    }
}

@include media($tablet) {
    .franchisees {
		&__info {}
		&__content {}
    }
}

@include media($mobile) {
    .franchisees {
		&__info {}
		&__content {}
    }
}*/