.franchisees {
    margin-top: 50px;
    &__content {
        margin-top: 20px;
        ul {
            p{
                margin: 10px 0;
            }
            
        }
    }
}

@include media($desktop) {
    .franchisees {
		&__info {}
		&__content {}
    }
}

@include media($laptop) {
    .franchisees {
		&__info {}
		&__content {}
    }
}

@include media($tablet) {
    .franchisees {
        margin-top: 150px;
		&__info {}
		&__content {}
    }
}

@include media($mobile) {
    .franchisees {
        margin-top: 100px;
		&__info {}
		&__content {}
    }
}