.gallery {
    margin-top: 50px;
    &__container {}
    &__info {}
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 400px 600px;

        margin-top: 70px;
        gap: 30px;
    }
    &__cell {
        border-radius: 15px;
        overflow: hidden;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding: 30px;

        background: none;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;

        text-decoration: none;

        &_first {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        &_last {
            grid-column-start: 3;
            grid-column-end: 5;
        }

        &:nth-child(1) {
            .gallery {
                &__subtitle {
                    color: #7A6AF4;
                }
            }
        }

        &:nth-child(2) {
            .gallery {
                &__subtitle {
                    color: #7A6AF4;
                }
            }
        }

        &:nth-child(3) {
            .gallery {
                &__subtitle {
                    color: #FE0FD4;
                }
            }
        }

        &:nth-child(4) {
            .gallery {
                &__subtitle {
                    color: #FE0FD4;
                }
            }
        }

        &:nth-child(5) {
            .gallery {
                &__subtitle {
                    color: #E08821;
                }
            }
        }

        &:nth-child(6) {
            .gallery {
                &__subtitle {
                    color: #83D08A;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;
            z-index: 2;
            background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
        }

        &:hover {
            .gallery {
                &__image-wrapper {
                    transform: scale(1.1);
                }
            }
        }
    }
    &__subtitle {
        font-size: 36px;
        font-weight: 600;

        position: relative;
        z-index: 3;
    }
    &__title {
        margin: 10px 0 0 0;
        font-size: 36px;
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        
        position: relative;
        z-index: 3;


    }
    &__image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        transition: .3s;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}