.promo {
    margin-top: 100px;
    &__wrapper {
        background: $mainGradient;
        border-radius: 25px;

        padding: 80px 120px;

        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;

        color: white;
    }
    &__title {
        font-size: 96px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
    }
    &__price {
        font-size: 96px;
        text-transform: uppercase;
        font-weight: 700;

        display: block;
        margin-top: 50px;
    }
    &__button {
        margin-top: 100px;
        padding: 30px 70px;
    }
    &__img {
        object-fit: contain;

        position: absolute;
        bottom: 5px;
        right: 30px;
        max-width: 860px;
    }
}

@include media($desktop) {
    .promo {
		&__wrapper {}
		&__title {}
		&__price {}
		&__button {}
		&__img {}
    }
}

@include media($laptop) {
    .promo {
		&__wrapper {
            padding: 60px
        }
		&__title {
            font-size: 64px;
        }
		&__price {
            font-size: 48px;
        }
		&__button {}
		&__img {
            max-width: 700px;
        }
    }
}

@include media($tablet) {
    .promo {
        margin-top: 50px;
		&__wrapper {
        }
        &__container {
        }
		&__title {
            font-size: 32px;
        }
		&__price {
            font-size: 32px;
            margin-top: 20px;
        }
		&__button {
            margin-top: 20px;
        }
		&__img {
            max-width: 400px;
        }
    }
}

@include media($mobile) {
    .promo {
		&__wrapper {
            padding: 50px 30px;
        }
		&__title {
            z-index: 4;
            font-size: 28px;
        }
		&__price {
            z-index: 4;
            font-size: 28px;
        }
		&__button {
            padding: 20px 50px;
            z-index: 4;
        }
		&__img {
            bottom: -50px;
            right: -170px;
        }
    }
}