.studios {
    margin-top: 100px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    &__info {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    &__text {
        font-size: 24px;
        font-weight: 400;

        display: block;
        max-width: 640px;
        margin-top: 30px;
    }
    &__card {}
    &__lottie {
        width: 200px;
        position: relative;
        right: 65px;
        margin: -20px 0;
        display: none;
    }
}
.studio-card {
    position: relative;
    padding-top: 100%;
    overflow: hidden;

    border-radius: 15px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;

    transition: .3s;

    cursor: pointer;

    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    &_more {
        border: 1px solid $black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        background: none;
        text-decoration: none;
        color: $black;
        &:hover {
            .studio-card {
                &__text {
                    font-weight: 700;
                }
            }
            
        }
    }
    &__title {
        position: absolute;
        left: 30px;
        bottom: 30px;

        margin: 0;

        color: white;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 600;
    }
    &__dot {
        color: $pink;
    }
    &__text {
        font-size: 24px;
        font-weight: 400;
        transition: .3s;
    }
    &:hover {
        background-size: auto 110%;
    }
    &:not(.studio-card_more)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(32, 32, 32, 0) 0%, rgba(31, 31, 31, 0.85) 90.74%);
    }
}

@include media($desktop) {
    .studios {
        &__grid {}
        &__info {}
        &__text {}
        &__card {}
    }
    .studio {
        &__title {}
    }
    .studio-card {
        &_more {}
        &__title {}
        &__dot {}
        &__text {}
    }
}

@include media($laptop) {
    .studios {
        &__grid {}
        &__info {}
        &__text {
            font-size: 18px;
        }
        &__card {}
    }
    .studio {
        &__title {}
    }
    .studio-card {
        &_more {}
        &__title {
            font-size: 24px;
        }
        &__dot {}
        &__text {}
    }
}

@include media($tablet) {
    .studios {
        margin-top: 50px;
        &__grid {
            grid-template-columns: 1fr;
        }
        &__info {
            grid-column-end: 2;
        }
        &__text {
            margin-top: 10px;
        }
        &__card {}
        &__lottie {
            display: block;
        }
        &__swiper {
            width: 100%;
        }
    }
    .studio {
        &__title {}
    }
    .studio-card {
        padding-top: 50%;
        &_more {
            .studio-card {
                &__text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &__title {}
        &__dot {}
        &__text {}
    }
}

@include media($mobile) {
    .studios {
        &__grid {}
        &__info {}
        &__text {}
        &__card {}
    }
    .studio {
        &__title {}
    }
    .studio-card {
        padding-top: 100%;
        &_more {}
        &__title {
            font-size: 20px;
        }
        &__dot {}
        &__text {}
    }
}