* {
    box-sizing: border-box;
}

html {
    font-family: 'TildaSans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: $black;

    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.no-scroll {
    overflow-y: hidden;
}

@include media($desktop) {
    .container {
        max-width: 1440px;
    }
}