// Заголовки, общие БЄМ блоки и прочеe...
.gradient-button{
    position: relative;
    padding: 30px;
    background: #fff;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: $black;
    width: fit-content;
    -webkit-text-fill-color: unset;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100% 100% 0 0;
        transform: translateY(100%) scaleY(.5);
        transition: all .6s ease;
        z-index: 1;
        @include mainGradient();
    }
    &__text {
        text-align: center;
        position: relative;
        display: block;
        z-index: 2;
        transition: .3s;
    }
    &:hover {
        transition: all .2s linear;
        color: $white;
        &::before {
            border-radius: 0;
            transform: translateY(0) scaleY(1);
        }
    }
    &_active {
        transition: all .2s linear;
        color: $white;
        &::before {
            border-radius: 0;
            transform: translateY(0) scaleY(1);
        }
    }
}

body {
    background: $bgGradient;
}

a {
    @include textGradient($mainGradient);
}

.section-title {
    font-size: 64px;
    line-height: 100px;
    font-weight: 700;
    margin: 0;
}

.dot {
    color: $pink;
}