@font-face {
	font-family: TildaSans;
	font-display: swap;
	src: url("../fonts/TildaSans-VF.woff2") format("woff2"), url("../fonts/TildaSans-VF.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
