@keyframes pulse {
    from {
        transform: scale(1);
    }
    33% {
        transform: scale(1.2);
    }
    66% {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

@keyframes hotspot {
    from {
        r: 9.5;
        opacity: 1;
    }
    
    20% {
        opacity: 1;
    }

    64% {
        r: 20;
        opacity: 0;
    }

    65% {
        r: 9.5;
    }

    80% {
        opacity: 1;
    }

    to {
        r: 9.5;
        opacity: 1;
    }

}