$mobile: 768;
$tablet: 1140;
$laptop: 1440;
$desktop: 1920;

$black: #000000;
$lightBlack: #131313;
$blue: #0091D7;
$pink: #FE0FD4;
$purple: #B900D7;
$white: #FFFFFF;

$mainGradient: linear-gradient(90deg, $blue 0%, $pink 100%);
$mainGradientReverse: linear-gradient(270deg, $blue 0%, $pink 100%);
$bgGradient: linear-gradient(90deg, #FEEDF3 0%, #EFE7F3 100%);